<div class="container-fluid">
  <div class="row">

    <div class="col-2">
      <%= render 'shared/sidenav' %>
    </div>
    <div class='col-7'>
      <% if current_user.tutor %>
        <%= render 'tutor' %>
      <% else %>
        <%= render 'student' %>
      <% end %>
    </div>
    <div class="col-3 pt-5">
      <h2 class="subheading">Help and Support</h2><br>
      <%= link_to 'How much does a question cost?', qna_path %><br>
      <%= link_to 'How can I start the live session?', qna_path %><br>
      <%= link_to 'How do I know if my tutor can help me?', qna_path %><br>
      <%= link_to 'How to write a good question', qna_path %><br>
      <%= link_to 'How fast will I be connected to a tutor?', qna_path %><br>
      <%= link_to 'What if I am not satisfied with the answers?', qna_path %><br>
      <%= link_to 'How can I pay?', qna_path %><br>
    </div>

  </div>
</div>
