<div class="container-fluid">
  <div class="row align-items-start">
    <!-- Question -->
    <div class="col-6 pl-5">
      <%= link_to "< Back", root_path, class: "muted mt-2" %>
      <div class="card-template question mb-3 mt-2">
        <div class="info">
          <h3 class="title mb-2"><%= @question.title %></h3>
          <div class="tags">
            <% @question.skills.each do |skill| %>
              <p class="card-tag"> <%= skill.name %> </p>
            <% end %>
          </div>
          <div>
            <p>Meeting Time: <%= "#{@question.selected_proposal.meeting_time.strftime("%A , %e %B %Y, %l:%M %P")}" %> &nbsp; &nbsp; &nbsp; &nbsp;
            <%= "Price: #{@question.selected_proposal.price}"%></p>
          </div>
        </div>
      </div>
      <div class="card-white">
        <p class="card-tag mb-0"> <%= @question.rich_body %></p>
      </div>

      <!-- session finished button -->
      <div class='mt-3'>
        <% if current_user.tutor %>
          <%= render 'tutor_session' %>
        <% else %>
          <%= render 'student_session' %>
        <% end %>
      </div>
    </div>
    <!-- message window -->
    <div class="col-6 pr-5 pt-5">
      <div class="msg-container p-3">
        
        <div class="msg p-2 mt-2">
          <div id="messages" data-question-id="<%= @question.id %>" data-current-user-id="<%= current_user.id %>">
            <% @question.messages.each do |message| %>
              <%= render message %>
            <% end %>
          </div>
        </div>

        <div class= "mt-2">
          <%= simple_form_for [ @question, @message ], remote: true  do |f| %>
            <div class="form-row align-items-center">
              <div class="col-11">
                <%= f.input :content, label: false, placeholder: "message", input_html: { autocomplete: "off" }  %>
              </div>
              <div class="col-1 align-items-center">
                <div class="form-group">
                  <%= button_tag type: 'submit', class: "btn btn-primary py-1 px-2" do %>
                    <i class="fas fa-paper-plane"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
