<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <%= render 'shared/sidenav' %>
    </div>

    <div class="col-10 pt-5">
      <div class="container-fluid">
        <div class="row">
          <div class='card-account col-12'>
            <div class='detail-header'>
              <strong>Account Details</strong>
              <%= link_to "🖊Edit Account Details", edit_user_registration_path, class: "blue ml-2" %>
            </div>
            <div class='card-template account-details'>
              <%= avatar(current_user, "avatar-lg") %>
              <div class='name-email info ml-3'>
                <p class='muted'>Username</p>
                <%= @user.username %>
                <p class='muted mt-4'>Email</p>
                <%= @user.email %>
              </div>
              <div class='password info'>
                <p class='muted'>Password</p>
                <p>******</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Bio -->

        <div class="row mt-3">

          <div class='card-account col-6'>
            <div class='detail-header'>
              <strong>Bio</strong>
              <% if policy(@user.bio).edit? %>
              <a href='#' class="blue ml-2" data-toggle="modal" data-target="#exampleModal1">🖊Edit Bio</a>
              <%#= link_to "🖊Edit Bio", edit_user_registration_path, class: "blue ml-2" %>
              <% end %>
            </div>
            <div class='card-template account-details bio'>
              <p>
                <%= @user.bio.content %>
              </p>
            </div>
          </div>

          <!-- Modal for edit-->
          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Bio</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <%= simple_form_for @user.bio, remote: true do |f| %>
                    <%= f.input :content, input_html: {rows: 10, cols: 50} %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <%= f.submit "Save Changes", class: "btn btn-primary" %>
                                                  <%# data: { dismiss: "modal" } %>
                                                  <%# does not transistion out clean, have to use js %>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>

          <!-- Skills -->
          <div class='card-account col-6'>
            <div class='detail-header'>
              <strong>Skills</strong>
              <a href='#' class="blue ml-2" data-toggle="modal" data-target="#exampleModal2">🖊Edit Skills</a>
            </div>
            <div class='card-template account-details'>
              <p class="card-tag">
                <% @user.skills.each do |skill| %>
                  <strong><%= skill.name %> &nbsp;&nbsp;</strong>
                <% end %>
              </p>
            </div>
          </div>

          <!-- Modal for skills-->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Skills</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <%= simple_form_for :skillset, url: skills_path, method: :patch, id: 'edit_skills', remote: true do |f| %>
                    <%= f.simple_fields_for :user do |user_form| %>
                      <%=  user_form.collection_check_boxes :skillset, Skill.all, :id, :name,
                                                            { checked: current_user.skills.map(&:id), item_wrapper_class: 'skills-item' },
                                                            { class: "skills-selector"}  %>
                    <% end %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <%= f.submit "Save Changes", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
