<div class="container-sm">
    <div><%= link_to "< Back", questions_path, class: "muted mt-2" %></div>
    <div class="d-flex justify-content-center flex-column">

      <h1 class="main-heading mb-5">Pick Your Tutor</h1>
      <h2 class="caption">Question: <%= @question.title %></h2>
    </div>
    <div class="text-right">
      <%= link_to "View Question >", question_path(@question), class: "blue" %>
    </div>
      <% @proposals.each do |proposal| %>
        <div class="card-template card-tutor mt-1 mb-3">
          <%= avatar(proposal.user, "avatar-lg") %>
          <div class="info ml-4">
            <h2 class="mb-4"><%= proposal.user.name %></h2>
            <div class ="mb-1 d-flex inline">
              <p class="proposal-p mb-2">Good with: </p>

               <% proposal.user.skills.each do |skill| %>
                  <p class="card-tag ml-2"><%= skill.name %></p>
                <% end %>

            </div>

            <div><%= link_to 'View full profile', user_reviews_path(proposal.user) %></div>
              <div class='avg-rate d-flex mt-1' style="color:white">
              <span>
                
                <% if proposal.user.average_rating %>
                  <strong><%= proposal.user.average_rating.round(2) %></strong>
                
                  <% proposal.user.full_stars.times.each do %>
                    <i class="fas fa-star" style="color:#ffee32"></i>
                  <% end %>
                  <% proposal.user.half_stars.times.each do %>
                    <i class="fas fa-star-half-alt" style="color:#ffee32"></i>
                  <% end %>
                  <% proposal.user.empty_stars.times.each do %>
                    <i class="far fa-star" style="color:#ffee32"></i>
                  <% end %>
                  <span>(<%= proposal.user.reviews.length %> reviews)</span>

                <% end %>
              </span>
            </div>
          </div>

          <div class="info">
            <p class="proposal-p">Availability:</p>
            <p class="proposal-p"><%= proposal.meeting_time.strftime("%A , %e %B %Y, %l:%M %P") %></p>
            <br>
            <p class="proposal-p">Included Message: </p>
            <p class="proposal-p"><%= proposal.message %></p>
          </div>

          <div class="info ml-4 w-50">
            <p class="proposal-p">Proposed price:</p>
            <p class="proposal-p"><%= proposal.price %></p>
          </div>

          <% if policy(proposal).accept? %>
            <%= simple_form_for( :order, url: accept_proposal_path, method: :post) do |f| %>
              <!-- :id extracts the proposal_id but you hides it . It allow you to
              access the id as its is in the params that was passed in the form-->

              <%= f.input :proposal_id, as: :hidden, input_html: {value: proposal.id } %>

              <%= f.submit 'Select', class: "btn white-btn" %>
            <% end %>
          <% end %>
        </div>
      <% end %>


</div>





