<div class='container pt-3'>

  <%= link_to "< Back", :back, class: "muted mt-5" %>
  
  <div class="row">
    <div class="col-5">
      <div class="left-column flex-column">
        <div class='img'>
          <%= avatar(@user, "avatar-xlg") %>
        </div>
        <p class='tutorname subheading'><%= @user.name %></p>
        <div class='reviews-skill mt-3'>
          <p class='subheading'>Skills: </p>
          <% @skill_array.each do |skill| %>
            <span class='card-tag'><strong><%= skill.name %></strong></span>
          <% end %>
          <div class='avg-rate d-flex mt-3'>
              <span>

              <% unless @user.reviews.empty? %>
                <strong><%= @user.average_rating.round(2) %></strong>
                <% @user.full_stars.times.each do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% @user.half_stars.times.each do %>
                  <i class="fas fa-star-half-alt"></i>
                <% end %>
                <% @user.empty_stars.times.each do %>
                  <i class="far fa-star"></i>
                <% end %>
                <p class='muted'>(<%= @user.reviews.length %>)</p>
              <% end %>

              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <p class='subheading'>Bio</p>
      <div class="right-column-top">
        <%= @bio.content %>
      </div>

      <p class='subheading mt-3'>Reviews</p>
      <div class="right-column-btm flex-column mt-2">
        <% unless @user.reviews.empty? %>
          <% @user.reviews.each do |review| %>
            <div class='review-profile p-2'>
              <div class="student mb-2">
                <%= avatar(review.student, "avatar-sm" ) %>
                <%= review.student.name %>
              </div>
              <% unless review.rating.nil? %>
                  <p> 
                    <% review.full_stars.times.each do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% review.half_stars.times.each do %>
                      <i class="fas fa-star-half-alt"></i>
                    <% end %>
                    <% review.empty_stars.times.each do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </p>
                <% end %>
              <%= review.content %>
            </div>  
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

</div>








